*{
	margin:0px;
	padding: 0px;
}
.cabecera{
	width: 100%;
	height: 800px;
	background-color: #1f2a30;
}
.logo{
	margin-left: 6.5%;
	margin-top: 32px;
}
h1{
	width: 409px;
  	height: 76px;
  	font-family: BwModelicaSS01-Bold;
  	font-size: 32px;
  	color: #FFF;
}
p{
	
  	font-family: BwModelica-Hairline;
  	font-size: 16px;
  	line-height: 1.5;
  	letter-spacing: 0.8px;
  	
}
.descripcion{
	width: 500px;
 	height: 48px;
 	font-size: 16px;
 	line-height: 1.8;
 	color: #ffffff;
 	margin-top: 16px;
 	margin-left: 17.3%;

}
.titular{
	margin-left: 17.3%;
	margin-top: 4px;
}
h5{
	font-family: BwModelica-Hairline;
}
.versales{
	font-family: BwModelica-Hairline;
	margin-left: 17.3%;
	margin-top: 130px;
	width: 378px;
 	height: 24px;
 	font-size: 12px;
  	line-height: 2;
  	letter-spacing: 2px;
  	color: #32c5ff;
}
.linea1{
	margin-left: 17.3%;
	position: absolute;
 	width: 1px;
  	height: 800px;
  	opacity: 0.4;
  	background-color: #44d7b6;
}
.linea2{
	margin-top: 400px;
	position: absolute;
 	width: 100%;
  	height: 1px;
  	opacity: 0.4;
  	background-color: #44d7b6;
}
.linea3{
	margin-top: 439px;
	position: absolute;
 	width: 100%;
  	height: 1px;
  	opacity: 0.4;
  	background-color: #44d7b6;
}

.linea4{
	margin-left: 63.5%;
	position: absolute;
 	width: 1px;
  	height: 800px;
  	opacity: 0.4;
  	background-color: #44d7b6;
}

.botones{
	margin-top: 48px;
	margin-left: 17.3%;
}

.download{
	margin-top: 20px;
	text-decoration: none;
	width: 92px;
  	height: 14px;
  	font-family: BwModelica-ExtraBold;
  	font-size: 11px;
  	font-weight: 800;
  	letter-spacing: 2px;
  	text-align: center;
  	padding-top: 12px;
  	padding-bottom: 14px;
  	padding-right: 24px;
  	padding-left: 24px;
  	border-radius: 8px;  
  	color: #ffffff;
  	background-image: linear-gradient(to right, #32c5ff, #00cdf1 31%, #00d4d5 68%, #44d7b6);
  	box-shadow:;
}
.download:hover{
	box-shadow: 0 16px 15px 0 rgba(0, 0, 0, 0.15);
}
.moreinfo{
	margin-top: 20px;
	text-decoration: none;
	width: 92px;
  	height: 14px;
  	font-family: BwModelica-light;
  	font-size: 11px;
  	letter-spacing: 3px;
  	text-align: center;
  	padding-top: 12px;
  	padding-bottom: 14px;
  	padding-right: 24px;
  	padding-left: 24px;
  	border-radius: 8px;
  	margin-left: 24px;  
  	color: #ffffff;
  	border: solid 1px #ffffff;
  	background-color: rgba(50, 197, 255, 0.05);
}
.moreinfo:hover{
	box-shadow: 0 16px 15px 0 rgba(0, 0, 0, 0.15);
}

.logo2{
	position: absolute;
	margin-top: 238px;
	margin-bottom: 0px;
	width: 699.2px;
  	height: 132.8px;
  	margin-left: -10px;
  	object-fit: cover;  	
}

.ilustracion{
	margin-top: 200px;
	margin-left: 60%;
	position: absolute;
	object-fit: contain

}

.linea{
	margin-top: 5px;
	margin-left: 16px;
	margin-right: 16px;
	width: 66px;
  	height: 4px;
  	border-radius: 2px;
  	background-image: linear-gradient(to right, #32c5ff, #00cdf1 31%, #00d4d5 68%, #44d7b6);
}

.version{
	position: absolute;
	display: inline-flex;
	transform: rotate(-90deg);
	margin-top: 19%;
	margin-left: 80%;
}

.versiontexto{
	width: 167px;
	color: #fff;
	font-size: 12px;
	font-family: BwModelicaSS01-HairlineItalic;
	letter-spacing: 2px;

}

.git{
	margin-right: 48px;
}

.redesC{
	margin-left: 70%;
	margin-top: 238px;
}

.submenu{
	position: absolute;
	width: 470px;
  	height: 314px;
  	border-radius: 0 0 24px 0;
  	box-shadow: 0 2px 40px 0 rgba(0, 0, 0, 0.15);
  	background-color: #f7f6f6;
}

.elements{
	margin-left: 55%;
	margin-top: 32px;
	display: inline-grid;

}

.tit{
	font-family: BwModelica-Bold;
	text-decoration: none;
	color: #0c2c3e;
	margin-top: 16px;

}

.subtit{
	font-family: BwModelica-Hairline;
	text-decoration: none;
	color: #0c2c3e;
	margin-top: 8px;
	margin-left: 16px;

}

.tit:hover{
	text-decoration: line-through;
}

.subtit:hover{
	text-decoration: line-through;
}

.informacion{
	width: 624px;
	margin-left: 39.4%;
	background-color: #F9F9F9;
}

.quees{
	margin-top: 64px;
	background-color: #F9F9F9;
	
}

.funcionalidades{
	margin-top: 116px;
}

.round{
	margin-top: 116px;
}

.resize{
	margin-top: 116px;
}

.move{
	margin-top: 116px;
}

.smart-guides{
	margin-top: 116px;
}

.ind{
	
	width: 500px;
	display: inline-flex;
}



.indice-n{
	font-family: BwModelica-Bold;
  	font-size: 12px;
  	letter-spacing: 0.3px;
  	font-weight: 800;
  	font-style: italic;
  	color: #0c2c3e;
}

.lineaindice{
	margin-top: 10px;
	width: 64px;
  	height: 2px;
  	border-radius: 1px;
  	background-image: linear-gradient(to right, #32c5ff, #00cdf1 31%, #00d4d5 68%, #44d7b6);
  	margin-left: 8px;
  	margin-right: 8px;
}

.lineaindicefun{
	margin-top: 10px;
	width: 32px;
  	height: 2px;
  	border-radius: 1px;
  	background-image: linear-gradient(to right, #32c5ff, #00cdf1 31%, #00d4d5 68%, #44d7b6);
  	margin-left: 8px;
  	margin-right: 8px;
}

.indice{
	letter-spacing: 0.3px;
	font-family: BwModelica-Bold;
  	font-size: 12px;
  	font-weight: 800;
  	font-style: italic;
  	color: #0c2c3e;	
}

.titulo{
	font-family: BwModelicaSS01-Bold;
  	font-size: 24px;
  	font-weight: 800;
  	color: #0c2c3e;
  	margin-top: 32px;
  	
}

.parrafo{

	font-family: BwModelica-Hairline;
  	font-size: 16px;
  	font-weight: 300;
  	line-height: 1.75;
  	letter-spacing: normal;
  	color: #0c2c3e;
  	margin-top: 24px;

}

.parrafosintitulo{
	font-family: BwModelica-Hairline;
  	font-size: 16px;
  	font-weight: 300;
  	line-height: 1.75;
  	letter-spacing: normal;
  	color: #0c2c3e;
  	margin-top: 32px;
}

.imatexto{
	margin-top: 56px;
}

.downloadfot{
	margin-top: 180px;
	width: 100%;
	height: 624px;
	background-color: #1f2a30;

}

.linea5{
	margin-left: 22.8%;
	position: absolute;
 	width: 1px;
  	height: 624px;
  	opacity: 0.4;
  	background-color: #44d7b6;

}

.linea6{
	margin-left: 60.2%;
	position: absolute;
 	width: 1px;
  	height: 624px;
  	opacity: 0.4;
  	background-color: #44d7b6;

}

.linea7{
	margin-top: 264px;
	margin-left: 60.2%;
	position: absolute;
 	width: 575px;
  	height: 1px;
  	opacity: 0.4;
  	background-color: #44d7b6;

}

.linea8{
	margin-top: 304px;
	margin-left: 60.2%;
	position: absolute;
 	width: 575px;
  	height: 1px;
  	opacity: 0.4;
  	background-color: #44d7b6;

}

.logofooter{
	margin-left: 22.8%;
	margin-top: 52px;
}

.titularfooter{
	margin-left: 22.8%;
	margin-top: 70px;
}
.descripcion2{
	width: 450px;
 	height: 48px;
 	font-size: 16px;
 	line-height: 1.8;
 	color: #ffffff;
 	margin-top: 16px;
 	margin-left: 22.8%;

}

.descarga{
	position: absolute;
	margin-left: 60.2%;
	margin-top: 274px;
}

.redesfooter{
	position: absolute;
	margin-left: 60.2%;
	margin-top: 218px;
}

.espaciado{
	margin-right: 40px;
}

.logo3{
	width: 699.2px;
  	height: 132.8px;
  	margin-top: 178px;
  	margin-left: -10px;
  	object-fit: cover;  	
}



.background{
	background-color: #f9f9f9;
}

.footer{
	width: 100%;
	display: inline-block;
	background-color: #15191B;
}

.txtfooter{
	position: absolute;
	margin-top: 22px;
	margin-left: 22.8%;
	margin-bottom: 22px;
	color: #FFF;
}

.icons{
	margin-top: 22px;
	margin-left: 60.2%;
	margin-bottom: 22px;
}
